@charset "utf-8";

/*--------Colors----------*/

$orange: #ff5722;
$lightorange: #ff7043;
$brightorange: #ff855e;
$purple: #9c27b0;
$blue: #3f51b5;
$lightblue: #1382c0;
$brightblue: #0192e0;
$red: #f44336;
$darkred: #b71c1c;
$greenblue: #009688;
$grey: #adccc8;
$white: #ffffff;
$black: #000000;

/*--------Box shadows----------*/

$boxshadowLight: 0px 2px 10px 0px rgba(0, 0, 0, 0.32);
$boxshadowMedium: 0px 6px 20px 0px rgba(0, 0, 0, 0.32);

/*----------Center-------------*/
i {
    color: #ffffff;
}

a {
    text-decoration: none;
}

button {
    outline: 0;
    border: none;
}
.purple {
    background-color:#9c27b0;
    height: 50px;
    width: 50px;
    border-radius:25px;
    margin:10px;
    cursor:pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    box-shadow:$boxshadowLight;
}
.purple:active {
    background-color:#b42ecb;
    box-shadow:$boxshadowMedium;
}
.orange {
    background-color:#ff5722;
    height: 50px;
    width: 50px;
    border-radius:25px;
    margin:10px;
    cursor:pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    box-shadow:$boxshadowLight;
}
.orange:active {
    background-color:#ff6838;
    box-shadow:$boxshadowMedium;
}
.red {
    background-color:#f44336;
    height: 50px;
    width: 50px;
    border-radius:25px;
    margin:10px;
    cursor:pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    box-shadow:$boxshadowLight;
}
.red:active {
    background-color:#fd5346;
    box-shadow:$boxshadowMedium;
}
.blue {
    background-color:#3f51b5;
    height: 50px;
    width: 50px;
    border-radius:25px;
    margin:10px;
    cursor:pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    box-shadow:$boxshadowLight;
}
.blue:active {
    background-color:#4659c3;
    box-shadow:$boxshadowMedium;
}
.font {
    background-color:#ffffff;
    width: 90px;
    border-radius: 2px;
    height: 34px;
    margin:10px 2.5px 10px 2.5px;
    cursor:pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    box-shadow:$boxshadowMedium;
}
.font:active {
    background-color:#babbbe;
}
.menuBarIndex {
    background-color:#ff5722;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.32);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 64px;
    z-index: 999999;
}

@media only screen and (max-width: 800px) {
    .buttonRaisedLogin {
        margin-right: 13px !important;
    }
}

.buttonRaisedLogin {
    background-color: #ff5722;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.32);
    float: right;
    margin-right: -25px;
    filter: brightness(120%);
    margin-top: -10px;
    color: #ffffff;
    width: 90px;
    height: 36px;
    z-index: 62;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    border-radius: 2px;
    cursor: pointer;
}
.buttonRaisedMain {
    background-color: $orange;
    color: $white;
    border-radius: 2px;
    margin-top: 10px;
    margin-right: -213px;
    box-shadow: $boxshadowLight;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.buttonRaisedMain:active {
    background-color: $lightorange;
    box-shadow: $boxshadowMedium;
}
@media only screen and (max-width: 800px) {
    .buttonRaisedMain {
        float: right;
        margin-right: 16px;
    }
    .progressContainer p {
        margin-top: 70px !important;
    }
}
.datePicker {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    margin-left: auto;
    margin-right: auto;
}
.buttonRaised {
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.32);
    float: right;
    margin-right: 30px;
    filter: brightness(120%);
    margin-top: 12px;
    color: #ffffff;
    width: 90px;
    height: 36px;
    z-index: 62;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    border-radius: 2px;
    cursor: pointer;
}

.buttonRaised:active {
    filter: brightness(140%);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.32);
}

.mdl-navigation__link {
    color: rgb(66, 66, 66);
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    opacity: 0.87;
}

.logo {
    background-image: url(../img/logo.png);
    background-size: cover;
    position: absolute;
    left: 30px;
    top: 0px;
    width: 51px;
    height: 64px;
    text-align: center;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.logo button {
    margin-top: 17px;
    display: none;
}

@media only screen and (max-width: 800px) {
    .buttonRaised {
        display: none;
    }
    .logo button {
        display: inline;
    }
}

@media only screen and (max-width: 400px) {
    .dayRegistration {
        margin-left: 20% !important;
    }
}

.logo:active {
    filter: brightness(120%);
}

.dayRegistration {
    font-size: 24px;
    font-weight: medium;
    color: $white;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 30px;
    top: 17px;
    width: 200px;
    height: 23px;
    z-index: 53;
    margin-left: 80px;
}

.headerBackground {
    background-color: $greenblue;
    width: 100%;
    min-height: 300px;
    height: auto;
    z-index: -999999;
    padding-top: 130px;
}

.headerBackgroundLighter {
    background-color: $white;
    width: 100%;
    min-height: 300px;
    height: auto;
    -webkit-box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.18);
    position: relative;
}

.headerBackgroundLogin {
    background-color: $greenblue;
    width: 100%;
    min-height: 300px;
    height: auto;
    z-index: -999999;
    padding-bottom: 40px;
    padding-top: 30px;
}

.headerBackgroundGradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009688+0,adccc8+100 */
    background: $greenblue;
    /* Old browsers */
    background: -moz-linear-gradient(top, $greenblue 0%, rgba(173, 204, 200, 1) 100%);
    background: -webkit-linear-gradient(top, $greenblue 0%, rgba(173, 204, 200, 1) 100%);
    background: linear-gradient(to bottom, $greenblue 0%, rgba(173, 204, 200, 1) 100%);
    width: 100%;
    height: 510px;
    bottom: 0;
}

.wrapper {
    float: left;
    width: 33.333333%;
}

.wrapperHeader {
    float: left;
    width: 33.333333%;
}

.wrapperLogin {
    display: block;
    width: 385px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 1px 40px 40px 40px;
    text-align: center;
    box-shadow: $boxshadowMedium;
    background-color: #ffffff;
}

.group {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

@media only screen and (max-width: 800px) {
    input {
        width: 90%;
    }
    .wrapperLogin {
        width: 100%;
        padding: 1px 10px 40px 0px;
    }
}

input:focus {
    outline: none;
}


/* LABEL ======================================= */

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}


/* active state */

input:focus ~ label,
input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}


/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 92.5%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/* active state */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}


/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active state */

input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@media only screen and (max-width: 800px) {
    .wrapperHeader {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .headerBackgroundLighter {
        padding-top: 1px;
        padding-bottom: 30px;
    }
    .getStarted button {
        margin-left: 1% !important;
    }
}

@media only screen and (max-width:790px) {
    .materialCalendar {
        margin-left: auto;
        margin-right: auto;
        left: 0 !important;
    }
}

.container {
    background-color: $white;
    box-shadow: $boxshadowLight;
    min-height: 150px;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    z-index: 999999;
}
.container h1 {
    font-size: 24px;
    line-height: 2.5;
    color: rgb(0, 0, 0);
    text-align: center;
    height: 19px;
    z-index: 40;
}
.container p {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    padding: 30px;
}

.materialCalendar {
    background-color: #ffffff;
    width: 164px;
    height: 229px;
    margin-left: auto;
    margin-right: auto;
}

.topRowCalendar {
    height: 30px;
    width: 100%;
    background-color: $red;
    margin-bottom: 25px;
}

.holes {
    background-color: $darkred;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.selectionsCalendar {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: #9e9e9e 3px solid;
    margin: 30px 15px 25px 15px;
    font-weight: bold;
    color: #4caf50;
    text-align: center;
}

.selectionsCalendar i {
    margin-left: -2px;
    margin-top: -2px;
    cursor: pointer;
    color: #4caf50 !important;
}

.selectionsCalendar i:active {
    display: none;
    font-weight: bold;
}

.lineLong {
    background-color: #9e9e9e;
    width: 95px;
    height: 10px;
    position: absolute;
    margin-top: -29px;
    margin-left: 35px;
}

.lineShort {
    background-color: #9e9e9e;
    width: 65px;
    height: 10px;
    position: absolute;
    margin-top: -14px;
    margin-left: 35px;
}

.shadowBox {
    z-index: 0;
    width: 164px;
    height: 229px;
    background: #fff;
}

@media only screen and (max-width: 1000px) {
    .shadow::before,
    .shadow::after {
        display: none;
    }
    .materialCalendar {
        box-shadow: $boxshadowMedium;
    }
}

.shadow {
    position: relative;
}

.shadow::before,
.shadow::after {
    width: 400px;
    height: 400px;
    position: absolute;
    content: "";
    z-index: 0;
    transform-origin: top left;
}

.shadow::before {
    height: 100%;
    left: 100%;
    transform: skewY(45deg);
    background-color: #00796b;
}

.shadow::after {
    width: 100%;
    top: 100%;
    transform: skewX(45deg);
    background-color: #00796b;
}

.headerBackgroundLighterNoshadow {
    background-color: $white;
    width: 100%;
    min-height: 300px;
    height: auto;
    position: relative;
    padding-bottom: 100px;
    overflow: auto;
}

.containerBottom {
    background-color: $white;
    box-shadow: $boxshadowLight;
    min-height: 300px;
    margin: 0px auto 0px auto;
    height: auto;
    width: 960px;
    position: relative;
    text-align: center;
}
.progressContainer {
    background-color: $white;
    box-shadow: $boxshadowLight;
    min-height: 300px;
    margin: 20px auto 0px auto;
    height: auto;
    width: 700px;
    position: relative;
    text-align: center;
    padding: 10px 10 50px 10px;
}
.congrats {
    font-size: 1.3em !important;
}
.progressContainer button {
    padding: 8px;
}
@media only screen and (max-width: 800px) {
    .progressContainer {
        width: 100%;
        padding: 0;
    }
    .progress {
        width: 90%;
    }
}
.progressContainer p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 10px;
}
.getStartedDraw {
    height: 235px;
    width: 100%;
    background-color: $greenblue;
}

@media only screen and (max-width: 800px) {
    ::-webkit-scrollbar {
        display: none;
    }
}

.orangeFirstHalf {
    background-color: $orange;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 270px 350px 0 0;
    border-color: $purple transparent transparent transparent;
    float: left;
    position: absolute;
    box-shadow: $boxshadowLight;
}

.orangeSecondHalf {
    background-color: $orange;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 270px 350px 0 0;
    border-color: $greenblue transparent transparent transparent;
    margin-left: 349px;
    transform: rotate(180deg);
    float: left;
    position: absolute;
}

.clock {
    position: absolute;
    margin-top: -230px;
    margin-left: 40px;
    width: 80px;
    height: 80px;
    background-color: rgb(255, 87, 34);
    border-radius: 50%;
    border: 10px solid #ff7043;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.42);
    transition-duration: 0.2s;
    transition-timing-function: ease;
    cursor: pointer;
}

.clock:active {
    box-shadow: $boxshadowMedium;
    background-color: $lightorange;
    border: 10px solid $brightorange;
}

.pointerTall {
    background-color: #ffffff;
    width: 40px;
    height: 1px;
    transform: rotate(90deg);
    margin-top: 19px;
    margin-left: 18px;
}

.pointerSmall {
    background-color: #ffffff;
    width: 30px;
    height: 1px;
    margin-top: 19px;
    margin-left: 38px;
    transform-origin: top left;
    transform: rotate(25deg);
}

.timer {
    position: absolute;
    margin-top: -180px;
    margin-left: 310px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 8px solid #ffffff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.42);
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transform: rotate(180deg);
    position: relative;
    z-index: 999999;
    cursor: pointer
}

.timer:active {
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.42);
}

.timerTop {
    width: 20px;
    height: 20px;
    border: 8px solid #ffffff;
    border-bottom: none;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.42);
    z-index: -999999;
    position: absolute;
    transform: rotate(180deg);
    margin-top: -5px;
    margin-left: 330px;
}

.timerLeft {
    width: 8px;
    height: 15px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.42);
    z-index: -999999;
    position: absolute;
    transform: rotate(220deg);
    margin-top: -15px;
    margin-left: 385px;
}

.timerRight {
    width: 8px;
    height: 15px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.42);
    z-index: -999999;
    position: absolute;
    transform: rotate(140deg);
    margin-top: -15px;
    margin-left: 304px;
}

.calendar {
    width: 110px;
    height: 80px;
    background-color: $lightblue;
    position: absolute;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: -120px;
    box-shadow: 0px -6px 10px 0px rgba(0, 0, 0, 0.42);
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.calendar:active {
    box-shadow: 0px -8px 10px 0px rgba(0, 0, 0, 0.42);
    background-color: $brightblue;
}

.calendarLighter p {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin-left: 10px;
    margin-top: -12px;
    font-size: 30px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calendarLighter {
    background-color: #088bd1;
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: rotate(180deg);
}

.getStarted {
    width: 100%;
    background-color: #ffffff;
    height: 65px;
    position: relative;
}

.getStarted button {
    background-color: $white;
    box-shadow: $boxshadowLight;
    font-weight: bold;
    float: left;
    margin-left: 3%;
    margin-top: 10px;
    color: #000000;
    width: 120px;
    height: 45px;
    z-index: 99999;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    border-radius: 2px;
    cursor: pointer;
}

.getStarted button:active {
    background-color: rgba(0, 0, 0, 0.14);
    box-shadow: $boxshadowMedium;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #d0d0d0;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

::-webkit-scrollbar-thumb:active {
    background: #8b8b8b;
}

#clouds {
    padding: 200px 0;
    background: transparent;
    overflow-x: hidden;
}

@media only screen and (max-width: 800px) {
    #clouds {
        padding: 100px 0;
        background: transparent;
    }
}

.cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
    box-shadow: $boxshadowLight;
}
.cloud:hover {
    box-shadow: $boxshadowMedium;
    filter: brightness(90%);
}
.cloud:before,
.cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}

.x1 {
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
}

.x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6;
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

.x3 {
    left: -250px;
    top: -200px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

.x4 {
    left: 470px;
    top: -250px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 18s linear infinite;
    -moz-animation: moveclouds 18s linear infinite;
    -o-animation: moveclouds 18s linear infinite;
}

.x5 {
    left: -150px;
    top: -150px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-o-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

::-webkit-scrollbar-track:horizontal {
    display: none;
}
