/*--------Colors----------*/
/*--------Box shadows----------*/
/*----------Center-------------*/
/* line 26, C:/xampp/htdocs/dayregistration/css/styles.scss */
p {
  margin: 0 auto; }

/* line 30, C:/xampp/htdocs/dayregistration/css/styles.scss */
.ripple {
  position: relative;
  overflow: hidden; }

/* line 35, C:/xampp/htdocs/dayregistration/css/styles.scss */
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s; }

/* line 52, C:/xampp/htdocs/dayregistration/css/styles.scss */
.ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s; }

/* line 58, C:/xampp/htdocs/dayregistration/css/styles.scss */
i {
  color: #ffffff; }

/* line 62, C:/xampp/htdocs/dayregistration/css/styles.scss */
a {
  text-decoration: none; }

/* line 66, C:/xampp/htdocs/dayregistration/css/styles.scss */
button {
  outline: 0;
  border: none; }

/* line 70, C:/xampp/htdocs/dayregistration/css/styles.scss */
.purple {
  background-color: #9c27b0;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.32); }

/* line 81, C:/xampp/htdocs/dayregistration/css/styles.scss */
.purple:active {
  background-color: #b42ecb;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.32); }

/* line 85, C:/xampp/htdocs/dayregistration/css/styles.scss */
.orange {
  background-color: #ff5722;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.32); }

/* line 96, C:/xampp/htdocs/dayregistration/css/styles.scss */
.orange:active {
  background-color: #ff6838;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.32); }

/* line 100, C:/xampp/htdocs/dayregistration/css/styles.scss */
.red {
  background-color: #f44336;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.32); }

/* line 111, C:/xampp/htdocs/dayregistration/css/styles.scss */
.red:active {
  background-color: #fd5346;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.32); }

/* line 115, C:/xampp/htdocs/dayregistration/css/styles.scss */
.blue {
  background-color: #3f51b5;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.32); }

/* line 126, C:/xampp/htdocs/dayregistration/css/styles.scss */
.blue:active {
  background-color: #4659c3;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.32); }

/* line 130, C:/xampp/htdocs/dayregistration/css/styles.scss */
.font {
  background-color: #ffffff;
  width: 90px;
  border-radius: 2px;
  height: 34px;
  margin: 10px 2.5px 10px 2.5px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.32); }

/* line 141, C:/xampp/htdocs/dayregistration/css/styles.scss */
.font:active {
  background-color: #babbbe; }

/* line 144, C:/xampp/htdocs/dayregistration/css/styles.scss */
.menuBarIndex {
  background-color: #ff5722;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.32);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 64px;
  z-index: 999999; }

@media only screen and (max-width: 800px) {
  /* line 156, C:/xampp/htdocs/dayregistration/css/styles.scss */
  .buttonRaisedLogin {
    margin-right: 13px !important; } }

/* line 161, C:/xampp/htdocs/dayregistration/css/styles.scss */
.buttonRaisedLogin {
  background-color: #ff5722;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.32);
  float: right;
  margin-right: -25px;
  filter: brightness(120%);
  margin-top: -10px;
  color: #ffffff;
  width: 90px;
  height: 36px;
  z-index: 62;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  border-radius: 2px;
  cursor: pointer; }

/* line 178, C:/xampp/htdocs/dayregistration/css/styles.scss */
.buttonRaised {
  background-color: rgba(255, 255, 255, 0.13);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.32);
  float: right;
  margin-right: 30px;
  filter: brightness(120%);
  margin-top: 12px;
  color: #ffffff;
  width: 90px;
  height: 36px;
  z-index: 62;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  border-radius: 2px;
  cursor: pointer; }

/* line 195, C:/xampp/htdocs/dayregistration/css/styles.scss */
.buttonRaised:active {
  filter: brightness(140%);
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.32); }

/* line 200, C:/xampp/htdocs/dayregistration/css/styles.scss */
.mdl-navigation__link {
  color: #424242;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  opacity: 0.87; }

/* line 210, C:/xampp/htdocs/dayregistration/css/styles.scss */
.logo {
  background-image: url(../img/logo.png);
  background-size: cover;
  position: absolute;
  left: 30px;
  top: 0px;
  width: 51px;
  height: 64px;
  text-align: center;
  transition-duration: 0.2s;
  transition-timing-function: ease; }

/* line 223, C:/xampp/htdocs/dayregistration/css/styles.scss */
.logo button {
  margin-top: 17px;
  display: none; }

@media only screen and (max-width: 800px) {
  /* line 229, C:/xampp/htdocs/dayregistration/css/styles.scss */
  .buttonRaised {
    display: none; }
  /* line 232, C:/xampp/htdocs/dayregistration/css/styles.scss */
  .logo button {
    display: inline; } }

@media only screen and (max-width: 400px) {
  /* line 238, C:/xampp/htdocs/dayregistration/css/styles.scss */
  .dayRegistration {
    margin-left: 20% !important; } }

/* line 243, C:/xampp/htdocs/dayregistration/css/styles.scss */
.logo:active {
  filter: brightness(120%); }

/* line 247, C:/xampp/htdocs/dayregistration/css/styles.scss */
.dayRegistration {
  font-size: 24px;
  font-weight: medium;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 30px;
  top: 17px;
  width: 200px;
  height: 23px;
  z-index: 53;
  margin-left: 80px; }

/* line 262, C:/xampp/htdocs/dayregistration/css/styles.scss */
.headerBackground {
  background-color: #009688;
  width: 100%;
  min-height: 300px;
  height: auto;
  z-index: -999999;
  padding-top: 130px; }

/* line 271, C:/xampp/htdocs/dayregistration/css/styles.scss */
.headerBackgroundLighter {
  background-color: #ffffff;
  width: 100%;
  min-height: 300px;
  height: auto;
  -webkit-box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.18);
  position: relative; }

/* line 282, C:/xampp/htdocs/dayregistration/css/styles.scss */
.headerBackgroundLogin {
  background-color: #009688;
  width: 100%;
  min-height: 300px;
  height: auto;
  z-index: -999999;
  padding-bottom: 40px;
  padding-top: 30px; }

/* line 292, C:/xampp/htdocs/dayregistration/css/styles.scss */
.headerBackgroundGradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009688+0,adccc8+100 */
  background: #009688;
  /* Old browsers */
  background: -moz-linear-gradient(top, #009688 0%, #adccc8 100%);
  background: -webkit-linear-gradient(top, #009688 0%, #adccc8 100%);
  background: linear-gradient(to bottom, #009688 0%, #adccc8 100%);
  width: 100%;
  height: 510px;
  bottom: 0; }

/* line 304, C:/xampp/htdocs/dayregistration/css/styles.scss */
.wrapper {
  float: left;
  width: 33.333333%; }

/* line 309, C:/xampp/htdocs/dayregistration/css/styles.scss */
.wrapperHeader {
  float: left;
  width: 33.333333%; }

/* line 314, C:/xampp/htdocs/dayregistration/css/styles.scss */
.wrapperLogin {
  display: block;
  width: 385px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 1px 40px 40px 40px;
  text-align: center;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.32);
  background-color: #ffffff; }

/* line 327, C:/xampp/htdocs/dayregistration/css/styles.scss */
.group {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px; }

/* line 335, C:/xampp/htdocs/dayregistration/css/styles.scss */
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575; }

@media only screen and (max-width: 800px) {
  /* line 345, C:/xampp/htdocs/dayregistration/css/styles.scss */
  input {
    width: 90%; }
  /* line 348, C:/xampp/htdocs/dayregistration/css/styles.scss */
  .wrapperLogin {
    width: 100%;
    padding: 1px 10px 40px 0px; } }

/* line 354, C:/xampp/htdocs/dayregistration/css/styles.scss */
input:focus {
  outline: none; }

/* LABEL ======================================= */
/* line 361, C:/xampp/htdocs/dayregistration/css/styles.scss */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
/* line 377, C:/xampp/htdocs/dayregistration/css/styles.scss */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE; }

/* BOTTOM BARS ================================= */
/* line 387, C:/xampp/htdocs/dayregistration/css/styles.scss */
.bar {
  position: relative;
  display: block;
  width: 92.5%; }

/* line 393, C:/xampp/htdocs/dayregistration/css/styles.scss */
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* line 406, C:/xampp/htdocs/dayregistration/css/styles.scss */
.bar:before {
  left: 50%; }

/* line 410, C:/xampp/htdocs/dayregistration/css/styles.scss */
.bar:after {
  right: 50%; }

/* active state */
/* line 417, C:/xampp/htdocs/dayregistration/css/styles.scss */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
/* line 425, C:/xampp/htdocs/dayregistration/css/styles.scss */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active state */
/* line 438, C:/xampp/htdocs/dayregistration/css/styles.scss */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@media only screen and (max-width: 800px) {
  /* line 478, C:/xampp/htdocs/dayregistration/css/styles.scss */
  .wrapperHeader {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
  /* line 484, C:/xampp/htdocs/dayregistration/css/styles.scss */
  .headerBackgroundLighter {
    padding-top: 1px;
    padding-bottom: 30px; }
  /* line 488, C:/xampp/htdocs/dayregistration/css/styles.scss */
  .getStarted button {
    margin-left: 1% !important; } }

@media only screen and (max-width: 790px) {
  /* line 494, C:/xampp/htdocs/dayregistration/css/styles.scss */
  .materialCalendar {
    margin-left: auto;
    margin-right: auto;
    left: 0 !important; } }

/* line 501, C:/xampp/htdocs/dayregistration/css/styles.scss */
.container {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.32);
  min-height: 150px;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  z-index: 999999; }

/* line 511, C:/xampp/htdocs/dayregistration/css/styles.scss */
.container h1 {
  font-size: 24px;
  line-height: 2.5;
  color: black;
  text-align: center;
  height: 19px;
  z-index: 40; }

/* line 519, C:/xampp/htdocs/dayregistration/css/styles.scss */
.container p {
  font-size: 14px;
  color: black;
  line-height: 1.2;
  text-align: center;
  padding: 30px; }

/* line 527, C:/xampp/htdocs/dayregistration/css/styles.scss */
.materialCalendar {
  background-color: #ffffff;
  width: 164px;
  height: 229px;
  margin-left: auto;
  margin-right: auto; }

/* line 535, C:/xampp/htdocs/dayregistration/css/styles.scss */
.topRowCalendar {
  height: 30px;
  width: 100%;
  background-color: #f44336;
  margin-bottom: 25px; }

/* line 542, C:/xampp/htdocs/dayregistration/css/styles.scss */
.holes {
  background-color: #b71c1c;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px; }

/* line 552, C:/xampp/htdocs/dayregistration/css/styles.scss */
.selectionsCalendar {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: #9e9e9e 3px solid;
  margin: 30px 15px 25px 15px;
  font-weight: bold;
  color: #4caf50;
  text-align: center; }

/* line 563, C:/xampp/htdocs/dayregistration/css/styles.scss */
.selectionsCalendar i {
  margin-left: -2px;
  margin-top: -2px;
  cursor: pointer;
  color: #4caf50 !important; }

/* line 570, C:/xampp/htdocs/dayregistration/css/styles.scss */
.selectionsCalendar i:active {
  display: none;
  font-weight: bold; }

/* line 575, C:/xampp/htdocs/dayregistration/css/styles.scss */
.lineLong {
  background-color: #9e9e9e;
  width: 95px;
  height: 10px;
  position: absolute;
  margin-top: -29px;
  margin-left: 35px; }

/* line 584, C:/xampp/htdocs/dayregistration/css/styles.scss */
.lineShort {
  background-color: #9e9e9e;
  width: 65px;
  height: 10px;
  position: absolute;
  margin-top: -14px;
  margin-left: 35px; }

/* line 593, C:/xampp/htdocs/dayregistration/css/styles.scss */
.shadowBox {
  z-index: 0;
  width: 164px;
  height: 229px;
  background: #fff; }

@media only screen and (max-width: 1000px) {
  /* line 601, C:/xampp/htdocs/dayregistration/css/styles.scss */
  .shadow::before,
  .shadow::after {
    display: none; }
  /* line 605, C:/xampp/htdocs/dayregistration/css/styles.scss */
  .materialCalendar {
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.32); } }

/* line 610, C:/xampp/htdocs/dayregistration/css/styles.scss */
.shadow {
  position: relative; }

/* line 614, C:/xampp/htdocs/dayregistration/css/styles.scss */
.shadow::before,
.shadow::after {
  width: 400px;
  height: 400px;
  position: absolute;
  content: "";
  z-index: 0;
  transform-origin: top left; }

/* line 624, C:/xampp/htdocs/dayregistration/css/styles.scss */
.shadow::before {
  height: 100%;
  left: 100%;
  transform: skewY(45deg);
  background-color: #00796b; }

/* line 631, C:/xampp/htdocs/dayregistration/css/styles.scss */
.shadow::after {
  width: 100%;
  top: 100%;
  transform: skewX(45deg);
  background-color: #00796b; }

/* line 638, C:/xampp/htdocs/dayregistration/css/styles.scss */
.headerBackgroundLighterNoshadow {
  background-color: #ffffff;
  width: 100%;
  min-height: 300px;
  height: auto;
  position: relative;
  padding-bottom: 100px;
  overflow: auto; }

/* line 648, C:/xampp/htdocs/dayregistration/css/styles.scss */
.containerBottom {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.32);
  min-height: 300px;
  margin: 0px auto 0px auto;
  height: auto;
  width: 960px;
  position: relative;
  text-align: center; }

/* line 658, C:/xampp/htdocs/dayregistration/css/styles.scss */
.progressContainer {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.32);
  min-height: 300px;
  margin: 20px auto 0px auto;
  height: auto;
  width: 700px;
  position: relative;
  text-align: center;
  padding: 10px 10 50px 10px; }

/* line 669, C:/xampp/htdocs/dayregistration/css/styles.scss */
.progressContainer button {
  padding: 8px; }

@media only screen and (max-width: 800px) {
  /* line 673, C:/xampp/htdocs/dayregistration/css/styles.scss */
  .progressContainer {
    width: 100%;
    padding: 0; }
  /* line 677, C:/xampp/htdocs/dayregistration/css/styles.scss */
  .progress {
    width: 90%; } }

/* line 681, C:/xampp/htdocs/dayregistration/css/styles.scss */
.progressContainer p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 10px; }

/* line 687, C:/xampp/htdocs/dayregistration/css/styles.scss */
.getStartedDraw {
  height: 235px;
  width: 100%;
  background-color: #009688; }

@media only screen and (max-width: 800px) {
  /* line 694, C:/xampp/htdocs/dayregistration/css/styles.scss */
  ::-webkit-scrollbar {
    display: none; } }

/* line 699, C:/xampp/htdocs/dayregistration/css/styles.scss */
.orangeFirstHalf {
  background-color: #ff5722;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 270px 350px 0 0;
  border-color: #9c27b0 transparent transparent transparent;
  float: left;
  position: absolute;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.32); }

/* line 711, C:/xampp/htdocs/dayregistration/css/styles.scss */
.orangeSecondHalf {
  background-color: #ff5722;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 270px 350px 0 0;
  border-color: #009688 transparent transparent transparent;
  margin-left: 349px;
  transform: rotate(180deg);
  float: left;
  position: absolute; }

/* line 724, C:/xampp/htdocs/dayregistration/css/styles.scss */
.clock {
  position: absolute;
  margin-top: -230px;
  margin-left: 40px;
  width: 80px;
  height: 80px;
  background-color: #ff5722;
  border-radius: 50%;
  border: 10px solid #ff7043;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.42);
  transition-duration: 0.2s;
  transition-timing-function: ease;
  cursor: pointer; }

/* line 739, C:/xampp/htdocs/dayregistration/css/styles.scss */
.clock:active {
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.32);
  background-color: #ff7043;
  border: 10px solid #ff855e; }

/* line 745, C:/xampp/htdocs/dayregistration/css/styles.scss */
.pointerTall {
  background-color: #ffffff;
  width: 40px;
  height: 1px;
  transform: rotate(90deg);
  margin-top: 19px;
  margin-left: 18px; }

/* line 754, C:/xampp/htdocs/dayregistration/css/styles.scss */
.pointerSmall {
  background-color: #ffffff;
  width: 30px;
  height: 1px;
  margin-top: 19px;
  margin-left: 38px;
  transform-origin: top left;
  transform: rotate(25deg); }

/* line 764, C:/xampp/htdocs/dayregistration/css/styles.scss */
.timer {
  position: absolute;
  margin-top: -180px;
  margin-left: 310px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 8px solid #ffffff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.42);
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transform: rotate(180deg);
  position: relative;
  z-index: 999999;
  cursor: pointer; }

/* line 781, C:/xampp/htdocs/dayregistration/css/styles.scss */
.timer:active {
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.42); }

/* line 785, C:/xampp/htdocs/dayregistration/css/styles.scss */
.timerTop {
  width: 20px;
  height: 20px;
  border: 8px solid #ffffff;
  border-bottom: none;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.42);
  z-index: -999999;
  position: absolute;
  transform: rotate(180deg);
  margin-top: -5px;
  margin-left: 330px; }

/* line 798, C:/xampp/htdocs/dayregistration/css/styles.scss */
.timerLeft {
  width: 8px;
  height: 15px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.42);
  z-index: -999999;
  position: absolute;
  transform: rotate(220deg);
  margin-top: -15px;
  margin-left: 385px; }

/* line 810, C:/xampp/htdocs/dayregistration/css/styles.scss */
.timerRight {
  width: 8px;
  height: 15px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.42);
  z-index: -999999;
  position: absolute;
  transform: rotate(140deg);
  margin-top: -15px;
  margin-left: 304px; }

/* line 822, C:/xampp/htdocs/dayregistration/css/styles.scss */
.calendar {
  width: 110px;
  height: 80px;
  background-color: #1382c0;
  position: absolute;
  border-radius: 10px;
  margin-top: -50px;
  margin-left: -120px;
  box-shadow: 0px -6px 10px 0px rgba(0, 0, 0, 0.42);
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease; }

/* line 836, C:/xampp/htdocs/dayregistration/css/styles.scss */
.calendar:active {
  box-shadow: 0px -8px 10px 0px rgba(0, 0, 0, 0.42);
  background-color: #0192e0; }

/* line 841, C:/xampp/htdocs/dayregistration/css/styles.scss */
.calendarLighter p {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  position: absolute;
  margin-left: 10px;
  margin-top: -12px;
  font-size: 30px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 858, C:/xampp/htdocs/dayregistration/css/styles.scss */
.calendarLighter {
  background-color: #088bd1;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: rotate(180deg); }

/* line 867, C:/xampp/htdocs/dayregistration/css/styles.scss */
.getStarted {
  width: 100%;
  background-color: #ffffff;
  height: 65px;
  position: relative; }

/* line 874, C:/xampp/htdocs/dayregistration/css/styles.scss */
.getStarted button {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.32);
  font-weight: bold;
  float: left;
  margin-left: 3%;
  margin-top: 10px;
  color: #000000;
  width: 120px;
  height: 45px;
  z-index: 99999;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  border-radius: 2px;
  cursor: pointer; }

/* line 891, C:/xampp/htdocs/dayregistration/css/styles.scss */
.getStarted button:active {
  color: #535353;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.32); }

/* line 896, C:/xampp/htdocs/dayregistration/css/styles.scss */
::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

/* line 901, C:/xampp/htdocs/dayregistration/css/styles.scss */
::-webkit-scrollbar-track {
  background: #d0d0d0; }

/* line 905, C:/xampp/htdocs/dayregistration/css/styles.scss */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  transition-duration: 0.2s;
  transition-timing-function: ease; }

/* line 911, C:/xampp/htdocs/dayregistration/css/styles.scss */
::-webkit-scrollbar-thumb:active {
  background: #8b8b8b; }

/* line 915, C:/xampp/htdocs/dayregistration/css/styles.scss */
#clouds {
  padding: 200px 0;
  background: transparent;
  overflow-x: hidden; }

@media only screen and (max-width: 800px) {
  /* line 922, C:/xampp/htdocs/dayregistration/css/styles.scss */
  #clouds {
    padding: 100px 0;
    background: transparent; } }

/* line 928, C:/xampp/htdocs/dayregistration/css/styles.scss */
.cloud {
  width: 200px;
  height: 60px;
  background: #fff;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: relative;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.32); }

/* line 939, C:/xampp/htdocs/dayregistration/css/styles.scss */
.cloud:before,
.cloud:after {
  content: '';
  position: absolute;
  background: #fff;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg); }

/* line 957, C:/xampp/htdocs/dayregistration/css/styles.scss */
.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px; }

/* line 965, C:/xampp/htdocs/dayregistration/css/styles.scss */
.x1 {
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite; }

/* line 971, C:/xampp/htdocs/dayregistration/css/styles.scss */
.x2 {
  left: 200px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite; }

/* line 982, C:/xampp/htdocs/dayregistration/css/styles.scss */
.x3 {
  left: -250px;
  top: -200px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite; }

/* line 995, C:/xampp/htdocs/dayregistration/css/styles.scss */
.x4 {
  left: 470px;
  top: -250px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite; }

/* line 1008, C:/xampp/htdocs/dayregistration/css/styles.scss */
.x5 {
  left: -150px;
  top: -150px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite; }

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1000px; }
  100% {
    margin-left: -1000px; } }

@-moz-keyframes moveclouds {
  0% {
    margin-left: 1000px; }
  100% {
    margin-left: -1000px; } }

@-o-keyframes moveclouds {
  0% {
    margin-left: 1000px; }
  100% {
    margin-left: -1000px; } }

/* line 1048, C:/xampp/htdocs/dayregistration/css/styles.scss */
::-webkit-scrollbar-track:horizontal {
  display: none; }

/*# sourceMappingURL=styles.css.map */
